.navbar{
    height: 5rem;
}
.fa-compass{
    color: red;
    font-size: 2rem;
}
.nav-link{
    color: rgb(8, 8, 8) important;
}
.f-info-link a{
 text-decoration: none;
 color: #222222;   
}
.f-info-link a:hover{
    text-decoration: underline;
     
   }
.f-info-link{
    width: 100%;
}
.f-ingo-social{
    width: 100%;
    font-size: 1.2rem;
    margin-right: 2rem;
}
.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ada6a6;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}   
.listing-card{
    border: none;
    margin-bottom: 2rem;
    
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;

}
.card-text{
    font-weight: 400 !important;

}
.listing-link{
    text-decoration: none;
}
.card-image-overlay{
    opacity: 0;

}
.card-image-overlay:hover{
    opacity: 0.2;
    background-color: aliceblue;
}
.show-img{
    height: 30vh;
    border-radius: 5px;
}

.card1 {
    border: solid black;
}