<% layout("/layouts/boilerplate.ejs") -%>
<h3>signup for airbnblite</h3>
<div class="row mt-3">
    <div class="col-6 offset-3"></div>
    <form action="/signup" method="post" class="needs-validations" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label">username</label>
            <input name="username" type="text" placeholder="Enter username" class="form-control" id="title" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">username</label>
            <input name="email" type="text" placeholder="Enter email" class="form-control" id="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">username</label>
            <input name="password" type="password" placeholder="Enter password" class="form-control" id="password" required>
        </div>
        <button class="btn btn-success">sign-up</button>
    </form>
</div>
